*{
    box-sizing: border-box;
    
}
.calculator{
    width:400px;
    height:400px;
    background-color:#EBE4D1;
    margin:50px auto;
    display:flex;
    flex-direction: column;
}
header{
    background-color:black;
    color:white;
    padding:15px;
    text-align: right;
    font-size:2rem;
}
button{
    height:100px;
    width:25%;
    background-color: #d8d9db;
    font-size:2rem;
     cursor: pointer;
}
div{
    display:flex;
    flex-grow:1;
}
.item1{
    flex-grow:2;
}
.item2{
    flex-grow:3;
}
button:last-child{
    background-color:#df974c;
}

button:hover{
    background-color:#ebebeb;;
}
button:last-child:hover{
    background-color:#FFCC70;
}