*{
    box-sizing: border-box;
    
}
.calculator{
    width:400px;
    height:400px;
    background-color:#EBE4D1;
    margin:50px auto;
    display:flex;
    flex-direction: column;
}
header{
    background-color:black;
    color:white;
    padding:15px;
    text-align: right;
    font-size:2rem;
}
button{
    height:100px;
    width:25%;
    background-color: #d8d9db;
    font-size:2rem;
     cursor: pointer;
}
.first{
    display:flex;   
    flex-grow:1;
}
.second{
    display:flex;
    flex-grow:1;
}
.third{
    display: flex;
    flex-grow:1;
}
.fourth{
    display: flex;
    flex-grow:1;
}
.fifth{
    display: flex;
    flex-grow:1;
}
.item1{
    flex-grow:2;
}
.item2{
    flex-grow:3;
}
.divide{
    background-color: #df974c;
}
.plus{
    background-color: #df974c;
}
.multiply{
    background-color: #df974c;
}
.minus{
    background-color: #df974c;
}
.equals{
    background-color: #df974c;
}

button:hover{
    background-color:#ebebeb;;
}